@model IEnumerable<BeerFinder.Models.BieresParBar>

@{
    ViewBag.Title = "DetailsBiere";
}

<h2>DetailsBiere</h2>

@if (((List<BeerFinder.Models.BieresParBar>)Model).Count >= 1)
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h1>Bars offrant la @(((List<BeerFinder.Models.BieresParBar>)Model)[0].NomBiere)</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomBar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomBar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
    </tr>
}

</table>
} else {
    <h1>Aucun bar n'offre cette bière</h1>
}

