@model BeerFinder.Models.BieresRecord

@{
    ViewBag.Title = "Editer une Bieres";
}

<script type="text/javascript">
    function SetTypeId() {
        document.getElementById("IdType").selectedIndex = document.getElementById("NomType").selectedIndex;
    }
</script>

<h2>Editer @Model.NomBiere</h2>

@using (Html.BeginForm("EditerBieres",
                        "Bieres",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BieresRecord</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.NomBiere, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomBiere)
                @Html.ValidationMessageFor(model => model.NomBiere)
            </div>
        </div>

        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.IdType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdType, new SelectList(Model.ListeTypes, "Id", "Id", Model.IdType))
                @Html.ValidationMessageFor(model => model.IdType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NomType, new SelectList(Model.ListeTypes, "NomType", "NomType", Model.NomType), new { @onchange = "SetTypeId();" })
                @Html.ValidationMessageFor(model => model.NomType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Brasserie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Brasserie)
                @Html.ValidationMessageFor(model => model.Brasserie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VolumeAlcool, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VolumeAlcool)
                @Html.ValidationMessageFor(model => model.VolumeAlcool)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Etiquette, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img id="new_image" src="@Url.Content("~" + Model.GetEtiquetteURL())" class="poster" style="max-width:160px; max-height:160px;" />
                <input type="file" name="FU_Image" id="FU_Image" style="display:none;" onchange="PreLoadImage();" />
                <br />
                <input type="button" class="AvatarBrowseButton" id="uploadTrigger" onclick="document.getElementById('FU_Image').click();" value="Choisir le logo..." />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste", "ListerBieres")
</div>
