@model IEnumerable<BeerFinder.Models.BieresRecord>

@{
    ViewBag.Title = "ListerBieres";
}

<h2>ListerBieres</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomBiere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brasserie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolumeAlcool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etiquette)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomBiere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brasserie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolumeAlcool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etiquette)
        </td>
        <td>
            <span class="glyphicon glyphicon-pencil" onclick="location.href='@Url.Action("EditerBieres", "Bieres", new { id = item.Id })'"></span> |
            <span class="glyphicon glyphicon-trash" onclick="BBConfirm('Êtes-vous sûr de vouloir supprimer @item.NomBiere ?', '@Url.Action("SupprimerBieres", "Bieres", new { id=item.Id })')"></span>
        </td>
    </tr>
}

</table>
