@model IEnumerable<BeerFinder.Models.TypesRecord>

@{
    ViewBag.Title = "ListerTypes";
}

<h2>ListerTypes</h2>

<p>
    @Html.ActionLink("Ajouter", "AjouterType")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Éditer", "EditerType", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
