@model IEnumerable<BeerFinder.Models.TypesRecord>

@{
    ViewBag.Title = "Liste des types";
}

<h2>Liste des types</h2>

<p>
    @Html.ActionLink("Ajouter un type", "AjouterTypes")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <span class="glyphicon glyphicon-pencil" onclick="location.href='@Url.Action("EditerTypes", "Bieres", new { id = item.Id })'"></span> |
            <span class="glyphicon glyphicon-trash" onclick="BBConfirm('Êtes-vous sûr de vouloir supprimer @item.NomType ?', '@Url.Action("SupprimerTypes", "Bieres", new { id=item.Id })')"></span>
        </td>
    </tr>
}

</table>
